# DATABASE
POSTGRES_URL=""
POSTGRES_PRISMA_URL=""
SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_URL=""
POSTGRES_URL_NON_POOLING=""
SUPABASE_JWT_SECRET=""
POSTGRES_USER=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE=""
SUPABASE_SERVICE_ROLE_KEY=""
POSTGRES_HOST=""
SUPABASE_ANON_KEY=""

# CONFIG
API_KEYS=""
MAX_AUTH_METHODS_PER_USER=""
MAX_WALLETS_PER_USER=""
MAX_ACTIVATIONS_PER_WALLET=""
MAX_WORK_SHARES_PER_WALLET=""
MAX_RECOVERY_SHARES_PER_WALLET=""
MAX_RECOVERIES_PER_WALLET=""
MAX_EXPORTS_PER_WALLET=""